/* Import CSS RESET */
@import url("reset.css");

/* Import Inter font from Google */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  font-family: Inter, sans-serif;
  font-size: 62.5%;
  /* COLORS */
  --CTA-BG: #051540;
  --PRIMARY-BG: #f2f7ff;
  --SECONDARY-BG: #d1e3ff;
  --HEADING-COLOR: #164baf;

  /* BORDER */
  --BORDER-RADIUS: 2.4rem;
  --BORDER-RADIUS-XS: 0.8rem;
}

section {
  display: grid;
  grid-template-columns: 1fr;
}
.main-content,
body {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.8rem;
}

/* STYLING SITE MAIN HEADER */
.main-header {
  display: flex;
  align-items: start;
  background-color: var(--CTA-BG);
  padding-left: 9.6rem;
  padding-top: 2.4rem;
}

.logo {
  /* height: 10rem; */
  display: flex;
  align-items: center;
  color: #fff;
}

.logo-img {
  max-height: 100%;
}

.logo span {
  font-size: 2rem;
  font-style: italic;
}

/* HERO SECTION */
.hero-section {
  grid-template-columns: 1fr 1fr;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--CTA-BG);
  padding-inline: 9.6rem;
  align-items: center;
  gap: 4.8rem;
}

.hero-img {
  width: 100%;
  /* height: 48rem; */
}

.hero-img img {
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.hero-content-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-content h1 {
  font-size: 4.8rem;
  line-height: 1.1;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.8rem;
  padding-right: 7.2rem;
  line-height: 1.6;
  color: #dddddd;
}

/* HOW TO START SECTION */
.how-to-start-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 19.2rem;
  text-align: center;
  gap: 4.8rem;
}

.how-to-start-section-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.how-to-start-section h2 {
  color: var(--HEADING-COLOR);
  font-size: 3.2rem;
}

.how-to-start-section p {
  padding-inline: 3.2rem;
}

/* VIDEO PLAYER */
.video-player {
  border-radius: 2.4rem;
}

/* BUTTON STYLE */
.btn {
  display: inline-block;
  padding: 1rem 2.4rem;
  background-color: var(--HEADING-COLOR);
  color: #fff;
  border: 0;
  border-radius: 10px;
}

.btn--outline {
  outline: 1px solid #fff;
  background-color: transparent;
  text-decoration: none;
}

/* STUDENT TESTIMONIAL SECTION */
.student-testimonial-section {
  background-color: var(--PRIMARY-BG);
  padding: 4.8rem 9.6rem;
  gap: 2.4rem;
  justify-content: center;
  text-align: center;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 33.3rem);
  gap: 2.4rem;
}

.testimonials img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 2.4rem;
}

/* STUDENTS SCHEDULES */
.class-schedules {
  padding: 4.8rem 9.6rem;
  gap: 2.4rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid #fff;
  border-top-left-radius: var(--BORDER-RADIUS);
  border-top-right-radius: var(--BORDER-RADIUS);
  overflow: hidden;
}

thead {
  background-color: var(--HEADING-COLOR);
  color: #fff;
}

thead td,
thead th,
tbody td {
  padding: 1.2rem 2rem;
}

tbody th {
  padding-inline: 1rem;
  background-color: var(--SECONDARY-BG);
  color: #000;
}

tbody td {
  background-color: var(--PRIMARY-BG);
  color: #000;
}

caption {
  text-align: left;
}

/* CONTACT US SECTION */
.contact-us-section {
  padding: 4.8rem 9.6rem;
  gap: 2.4rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.form-input_fields-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submit-btn {
  /* grid-column: 1 / span 2; */
}

.input-field,
.message {
  padding: 1.4rem 1rem;
  border-radius: var(--BORDER-RADIUS-XS);
  border: 1px solid currentColor;
}

.message {
  resize: vertical;
  max-width: 100%;
}

.input-groups-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

/* .form button[type="submit"] {
  grid-column: 1 / span 2;
} */
