/* Import CSS RESET */
@import url("reset.css");

/* Import Inter font from Google */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* GENERAL STYLES */

:root {
  font-family: Inter, sans-serif;
  font-size: 62.5%;
  /* COLORS */
  --CTA-BG: #051540;
  --PRIMARY-BG: #f2f7ff;
  --SECONDARY-BG: #d1e3ff;
  --HEADING-COLOR: #164baf;

  /* BORDER */
  --BORDER-RADIUS: 2.4rem;
  --BORDER-RADIUS-XS: 0.8rem;
}

section {
  display: grid;
  grid-template-columns: 1fr;
}
.main-content,
body {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.6rem;
}

h2 {
  color: var(--HEADING-COLOR);
  font-size: 3.2rem;
  font-weight: 600;
}

p {
  color: #0f2a44;
  font-size: 1.8rem;
  font-weight: 400;
}

.red {
  color: red;
}
/* 
input[type="checkbox"]:checked {
  background-color: black;
  color: red;
} */

/* STYLING SITE MAIN HEADER */
.main-header {
  display: flex;
  align-items: start;
  background-color: var(--CTA-BG);
  padding-left: 9.6rem;
  padding-top: 2.4rem;
}

.logo {
  /* height: 10rem; */
  display: flex;
  align-items: center;
  color: #fff;
}

.logo-img {
  max-height: 100%;
}

.logo span {
  font-size: 2rem;
  font-style: italic;
}

/* HERO SECTION */
.hero-section {
  grid-template-columns: 1fr 1fr;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--CTA-BG);
  padding-inline: 9.6rem;
  align-items: center;
  gap: 4.8rem;
}

.hero-img {
  width: 100%;
  /* height: 48rem; */
}

.hero-img img {
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.hero-content-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-content h1 {
  font-size: 4.8rem;
  line-height: 1.2;
  font-weight: bold;
}

.hero-content p {
  font-weight: 400;
  font-size: 1.8rem;
  padding-right: 9px;
  line-height: 1.6;
  color: #dddddd;
}

/* HOW TO START SECTION */
.how-to-start-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 19.2rem;
  padding-bottom: 6.2rem;
  text-align: center;
  gap: 4.8rem;
}

.how-to-start-section-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.how-to-start-section h2 {
  color: var(--HEADING-COLOR);
  font-size: 3.2rem;
  font-weight: 600;
}

.how-to-start-section p {
  padding-inline: 3.2rem;
}

.how-to-start-section p > span {
  font-weight: 700;
  color: #1274a4;
}

/* VIDEO PLAYER */
.video-player {
  border-radius: 2.4rem;
}

/* BUTTON STYLE */
.btn {
  font-weight: 600;
  display: inline-block;
  padding: 1rem 2.4rem;
  background-color: var(--HEADING-COLOR);
  color: #fff;
  border: 0;
  border-radius: 10px;
}

.btn--outline {
  outline: 0.5px solid #ddd;
  background-color: transparent;
  text-decoration: none;
}

.btn-submit {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

/* STUDENT TESTIMONIAL SECTION */
.planet-section {
  background-color: var(--PRIMARY-BG);
  padding: 4.8rem 9.6rem;
  padding-bottom: 5.6rem;
  gap: 4rem;
  justify-content: center;
  text-align: center;
}

.planet-section-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.planets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 33.3rem); */
  gap: 1.6rem;
}

.planets img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 2.4rem;
}

/* STUDENTS SCHEDULES */
.planetary-facts-section {
  padding: 4.8rem 9.6rem;
  gap: 4.4rem;
}

.planetary-facts-section-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.table {
  /* border-width: 1px; */
  width: 100%;
  /* border-collapse: collapse; */
  text-align: center;
  border: 1.5px solid #fff;
  border-top-left-radius: var(--BORDER-RADIUS);
  border-top-right-radius: var(--BORDER-RADIUS);
  overflow: hidden;
}

thead {
  border: 1.5px solid #fff;
  background-color: var(--HEADING-COLOR);
  color: #fff;
  /* font-weight: 700; */
}

thead td,
thead th,
tbody td {
  border: 1.5px solid #fff;
  padding: 1.6rem 2.6rem;
}

thead th {
  padding-inline: 2.2rem;
}

tbody th {
  border: 1.5px solid #fff;
  padding-inline: 2.6rem;
  background-color: var(--SECONDARY-BG);
  color: #000;
}

tbody td {
  background-color: var(--PRIMARY-BG);
  color: #212121;
  font-weight: 500;
}

.caption {
  color: #0f2a44;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: left;
}

/* CONTACT US SECTION */
.contact-us-section {
  padding: 4.8rem 9.6rem;
  gap: 4.4rem;
}

.contact-us-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.form-input_fields-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit-btn-container {
  width: 30rem;
  padding-top: 2.4rem;
}

.input-field,
.message {
  padding: 1.4rem 1rem;
  border-radius: var(--BORDER-RADIUS-XS);
  border: 1px solid currentColor;
}

.message {
  resize: none;
  max-width: 100%;
  width: 100%;
  min-height: 20rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

small {
  color: #555;
}

.input-groups-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.input-groups {
  display: flex;
  gap: 4.8rem;
}

.input-groups div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

/* .form button[type="submit"] {
  grid-column: 1 / span 2;
} */

/* FOOTER SECTION */
.footer {
  color: #fff;
  background-color: var(--CTA-BG);
  display: flex;
  flex-direction: column;
  padding: 4.8rem 9.6rem;
  padding-top: 6.4rem;
  gap: 4rem;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-text h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.footer-text p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
  color: #fff;
}

.footer-divider {
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.441);
}
.copyright {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.other-pages-links {
  display: flex;
  gap: 3.2rem;
}
